/* Services Section */
.services {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
}

.service-col {
    max-width: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}

.service {
    padding: 25px;
    border: 1px solid #ececec;
    border-radius: 6px;
}

.service img {
    opacity: .6;
    max-width: 50px;
    max-height: 30px;
    margin-bottom: 24px;
}

.service h4 {
    font-weight: 400;
    margin-bottom: 12px;
}

.service p {
    max-width: 280px;
    margin: 0 auto 30px auto;
    font-size: 13px;
    line-height: 1.7;
}

@media (min-width: 768px) {
    .service-col {
        max-width: calc(100% / 3);
        width: 100%;
        margin-bottom: 0;
    }
}
