/* Split Section */
.split-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.split-section__image {
    order: -1;
    margin-bottom: 40px;
}

.split-section__image,
.split-section__text {
    max-width: 100%;
    width: 100%;
}

.split-section h2,
.split-section p {
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .split-section {
        margin-left: -25px;
        margin-right: -25px;
    }
    .split-section__image {
        order: initial;
        margin-bottom: 0;
    }
    .split-section__image,
    .split-section__text {
        max-width: 50%;
        width: 100%;
        padding-right: 25px;
        padding-left: 25px;
    }
}
