/* Footer */
.footer-row {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-copyright {
    opacity: .6;
}

.footer-social {
    display: flex;
    list-style: none;
    align-items: center;
}

.footer-social li {
    padding-left: 8px;
    padding-right: 8px;
}

.footer-social a {
    opacity: .6;
}

.footer-social a:hover {
    opacity: 1;
}

.footer-social img {
    max-width: 18px;
}